.AddWorkout form input {
    display: block;
    margin: 5px;
    
}
h3 {
    padding:10px;
    margin: 20px;
}
.FinishedWorkout {
    border: 1px #B8860B solid;
    margin: 20px;
    padding: 10px;
 }

/* .AddWorkout {
    border: 1px #B8860B solid;
    margin: 20px;
    padding: 10px;
 } */




 /* button {
    padding: 5px 12px;
    margin: 0 10px;
    height: 40px;
    background-color:#B8860B;
    border: none;
    outline:none;
    cursor: pointer;
    color: white;
    width: 70px;
    border-radius:2px;
    text-align: center;
} */

