.AddWorkout form input {
    display: block;
    margin: 5px;
    
}

.AddWorkout {
    border: 1px black solid;
    margin: 20px;
    padding: 10px;
 }

 .FinishedWorkout {
    border: 1px black solid;
    margin: 20px;
    padding: 10px;
 }