

.workout {
    border: 1px black solid;
    margin: 20px;
    padding: 10px;
 }

.DisplayWorkout {
    border: 1px dotted grey;
     margin: 20px;
     padding: 20px;
 }
 
 

 ul{
    font-size: 24px;
    padding:1em;
}
